* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  background-color: cornflowerblue;
  border-radius: 15px;
  color: white;
  padding: 1rem;
  margin: 0;
}

h1 > span:last-of-type {
  margin-left: 15px;
  font-size: smaller;
  font-style: italic;
  color: pink;
}

.container {
  max-width: 30rem;
  margin: 5rem auto;
}
